Options -Indexes
<FilesMatch "\.(env|git|htaccess|config\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to log.txt
<Files "log.txt">
    Deny from all
</Files>

# Custom Error Page for 403 Forbidden
ErrorDocument 403 /403.php